* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #333;
}

header {
    background: #0f2027;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('../images/hero.jpg') center/cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;

}

.post {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.post img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    background: #ff9800;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: #e68900;
}

.comments {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.comments input, 
.comments textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

#commentList {
    margin-top: 15px;
}

footer {
    text-align: center;
    color: violet;
}